
.form {
   color: white;
  }

.form input{
    width: 18%;
    padding: 4px 35px;
    margin: 8px 0;
    box-sizing: border-box;
}
.form label{
    width: 25%;
    padding: 4px 35px;
    margin: 8px 0;
    box-sizing: border-box;

}
.form button{
    width: 25%;
    padding: 4px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}