
.cardcontainer {
    margin: auto;
    margin-right: 2rem;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
  }

  .cardcontainer  h1 {
    color: chartreuse;
  }
  .cardcontainer  span {
    color: chartreuse;
  
  }